<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="openEmailForm()">
    Saada E-mail
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Saada E-mail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container form-top">

              <form action="" method="POST">
                <div class="form-group">
                  <label >Kellelt</label>
                  <input 
                  type="email" 
                  class="form-control" 
                  value="naiskoorintra@gmail.com" 
                  readonly
                  required  
                  >
              </div>
              <div class="form-group">
                  <label >Kirja pealkrii</label>
                  <input 
                  type="text" 
                  name="subject" 
                  class="form-control" 
                  placeholder="Lisa päis:"
                  value="[{{ function('returnUserRoles', user.roles)}}]:"
                  required
                  >
              </div>
              <div class="form-group">
                  <label >Siht</label>
                  <input 
                  type="email" 
                  name="recievers"   
                  class="form-control" 
                  placeholder="Enter Email" 
                  id="sendGroupEmail" 
                  multiple
                  required>
              </div>
              <div class="form-group">
                  <label >Sõnum</label>
                  <textarea 
                  rows="10" 
                  name="message" 
                  class="form-control" 
                  placeholder="Saada e-mail"
                  required
                  ></textarea>
              </div>
              <input type="hidden" value="{{ current_user.name }}" name="sender-name">
              <input type="hidden" value=
                "{% for role in current_user.roles %}
                    {{ role }}
                {% endfor %}"
                 name="sender-roles">
              <div class="form-group text-center">
                <button 
                  class="btn btn-raised btn-lg btn-warning"
                  type="submit"
                  name="submit"
                  value="Submit">
                  Saada
                </button>
              </div>
            </form>
            </div>
        </div>
      </div>
    </div>
  </div>