@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.upperNav {
  top: 0;
  left: 0;
  background-color: #00082b;
  color: white;
  position: fixed;
  height: fit-content;
  width: 100vw;
  padding: 2vh;
  z-index: 15;
  justify-content: center; }
  .upperNav .logo-holder {
    width: 200px;
    margin-left: 1vw; }
    @media (max-width: 768px) {
      .upperNav .logo-holder {
        display: none; } }
  .upperNav .burger-button {
    display: none; }
    @media (max-width: 768px) {
      .upperNav .burger-button {
        display: block;
        margin: auto;
        float: center;
        border: none;
        color: transparent;
        background-color: transparent; }
        .upperNav .burger-button i {
          color: white;
          height: 100%;
          width: auto; } }
  .upperNav .mobile-logo-holder {
    display: none; }
    @media (max-width: 768px) {
      .upperNav .mobile-logo-holder {
        display: block; } }
  .upperNav .search-input-holder {
    color: #757575;
    border-radius: 3px;
    background-color: white;
    padding: 1vh;
    align-items: center; }
    .upperNav .search-input-holder input {
      min-width: 100%;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: hidden; }
    @media (max-width: 768px) {
      .upperNav .search-input-holder {
        display: none; } }
  .upperNav .search-button-holder {
    display: flex;
    justify-content: flex-end;
    border: none; }
    .upperNav .search-button-holder i {
      margin-right: 1vw; }
  .upperNav .mobile-logo {
    display: none; }
    @media (max-width: 768px) {
      .upperNav .mobile-logo {
        display: block; } }
  .upperNav .user-info {
    display: flex;
    justify-content: flex-end; }
    .upperNav .user-info .avatar {
      margin-right: 1vw; }
    @media (max-width: 768px) {
      .upperNav .user-info .name-job {
        display: none; } }
  @media (max-width: 768px) {
    .upperNav {
      height: fit-content;
      position: relative; } }

.sideNav {
  color: white;
  margin-top: 8vh;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  align-items: center;
  background-image: url(assets/images/background.png);
  background-repeat: repeat-y;
  overflow-x: hidden;
  padding-top: 20px;
  line-height: 50%; }
  .sideNav .nav-item {
    margin-top: 2vh;
    display: flex;
    align-items: center;
    width: 100%; }
    .sideNav .nav-item i {
      width: 20%; }
    .sideNav .nav-item .nav-link {
      width: 80%; }
  .sideNav a {
    font-size: 14px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    color: white;
    display: block;
    transition: 0.3s; }
    .sideNav a :hover {
      border: 1px solid #ffd80d; }
  .sideNav .closebtn {
    display: none; }
  @media (max-width: 768px) {
    .sideNav {
      margin-top: 0vh;
      z-index: 15;
      width: 0;
      overflow-x: hidden;
      transition: 0.5s; }
      .sideNav .closebtn {
        text-decoration: none;
        display: block;
        position: absolute;
        top: 8vh;
        left: 80vw;
        font-size: 2rem; }
      .sideNav .item-container {
        margin-top: 10vh; }
      .sideNav ul {
        margin-top: 4vh; } }

.users-table {
  margin: auto;
  border-radius: 5px; }
  .users-table img {
    border-radius: 100%;
    height: 5vh; }
  .users-table tr {
    border-radius: 5px; }
  .users-table th {
    background-color: #171e3e;
    color: white; }

.modal-userinfo {
  width: fit-content; }
  .modal-userinfo img {
    float: left;
    width: 20vw;
    height: auto;
    margin-top: 8vh;
    margin-right: 2vw; }
  .modal-userinfo .userinfo-container {
    display: flex;
    align-items: center; }
  .modal-userinfo table tr {
    height: 5vh; }
  .modal-userinfo table tr > td:first-child {
    color: #757575; }
  .modal-userinfo table input {
    min-width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: 1 px solid #757575; }
  .modal-userinfo .save-button {
    margin: auto;
    background-color: #171e3e;
    color: white; }
  @media (min-width: 768px) {
    .modal-userinfo {
      max-width: auto; } }

body {
  font-size: 16px;
  height: 8000px;
  width: 100%; }

.webpages {
  margin-left: 200px;
  margin-right: 1vw;
  margin-top: 10vh; }
  @media (max-width: 768px) {
    .webpages {
      margin-top: 3vh;
      margin-left: 0px; } }

/*# sourceMappingURL=style.css.map */