.sideNav {
    color: white;
    margin-top: 8vh;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    align-items: center;
    background-image: url(assets/images/background.png);
    background-repeat: repeat-y;
    overflow-x: hidden;
    padding-top: 20px;
    line-height: 50%;
    .nav-item {
      margin-top: 2vh;
      display: flex;
      align-items: center;
      width: 100%;
      i {
        width: 20%;
      }
      .nav-link {
        width: 80%;
      }
    }
  
    a {
      font-size: 14px;
      font-weight: bold;
      font-family: "Lato", sans-serif;
      color: white;
      display: block;
      transition: 0.3s;
      :hover {
        border: 1px solid $yellow;
      }
    }
  
    // Mobile view functions
    .closebtn {
      display: none;
    }
    @media (max-width: $tablet) {
      margin-top: 0vh;
      z-index: 15;
      width: 0;
      overflow-x: hidden;
      transition: 0.5s;
      .closebtn {
        text-decoration: none;
        display: block;
        position: absolute;
        top: 8vh;
        left: 80vw;
        font-size: 2rem;
      }
      .item-container {
        margin-top: 10vh;
      }
      ul {
        margin-top: 4vh;
      }
    }
  }