
.users-table {
    margin: auto;
    border-radius: 5px;
    img{
      border-radius: 100%;
      height: 5vh;
    }
    tr{
      border-radius: 5px;
    }
    th{
      background-color: $primaryColor;
      color: white;
    }
  }
  
  .modal-userinfo{
    width: fit-content;
    img{
      float: left;
      width: 20vw;
      height: auto;
      margin-top: 8vh;
      margin-right: 2vw;
  
    }
    .userinfo-container{
      display: flex;
      align-items: center;
    }
    table{
      tr{
        height: 5vh;
      }
      tr > td:first-child{
        color: $primaryColor-300;
      }
      input {
        min-width: 100%;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: 1 px solid $primaryColor-300;
      }
    }
    .save-button{
      margin: auto;
      background-color: $primaryColor;
      color: white;
    }
    @media (min-width: $tablet){
      max-width: auto;
    }
  }