@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$primaryColor: #171e3e;
$primaryColor-300: #757575;
$secondaryColor: black;
$secondary-100: #00082b;
$yellow: #ffd80d;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$xl-4000: 2560px;
