@import "../scss/variables.scss";
@import "../scss/navbars/upperNav.scss";
@import "../scss/navbars/sideNav.scss";
@import "../scss/userspage/users-table.scss";

body {
  font-size: 16px;
  height: 8000px;
  width: 100%;
}
.webpages {
  margin-left: 200px;
  margin-right: 1vw;
  margin-top: 10vh;
  @media (max-width: $tablet) {
    margin-top: 3vh;
    margin-left: 0px;
  }
}