<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TÜAN Intranet</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>    
    {{ function('wp_head') }}
</head>
<body>
    {% include "components/header-nav.twig" %}
    {% include "components/left-nav.twig" %}
    <div class="container mx-3">
        <div class="webpages">
          {% block content %}
              Empty!
          {% endblock content %}
        </div>
      </div>
    {{ function('wp_footer') }}
</body>
</html>